<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            Pagar con Pagando Check
            <img data-bind="attr: { src: require.toUrl('XCNetworks_PagandoPayment/images/logo-pagando-check-color.svg'), alt: $t('Pay via Pagando Check')}"
            class="payment-icon" style="width: 30%;"/>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form action="" id="pgdo-payment">
            <div class="pagando-check">

                <div class="pagando-input">
                    <label for="titular">Nombre completo <span>*</span></label>
                    <div class="">
                        <input id="card_name" placeholder="Ingresa el nombre completo de tu tarjeta" name="card_name" type="text">
                    </div>
                </div>

                <div class="pagando-two-block-content">
                    <div class="left-block">
                        <div class="pagando-input">
                            <label for="titular">Número de tarjeta <span>*</span></label>
                            <div class="">
                                <input id="card_pan" placeholder="Ingresa los 16 dígitos de tu tarjeta" type="text">
                                <input id="card_pan_no_spaces" type="hidden" name="card_pan">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Go to Pagando Check')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Go to Pagando Check'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
